@page "/Adapters"
@inherits AdaptersBase
@using Texnomic.SecureDNS.Models

<h1>Adapters</h1>
<p>@Output</p>

<TelerikGrid Data="@AdaptersService.Adapters" Pageable=true PageSize=20 Sortable="true" Filterable=true>
    <TelerikGridColumns>
        <TelerikGridColumn Field="@nameof(Adapter.Name)"></TelerikGridColumn>
        <TelerikGridColumn Field="@nameof(Adapter.Description)"></TelerikGridColumn>
        <TelerikGridColumn Field="@nameof(Adapter.Mac)"></TelerikGridColumn>
        <TelerikGridColumn Field="@nameof(Adapter.DNS)"></TelerikGridColumn>
        <TelerikGridCommandColumn>
            <TelerikGridCommandButton Command="Set" Icon="edit" OnClick="SetDNSAsync">Set DNS</TelerikGridCommandButton>
            <TelerikGridCommandButton Command="Reset" Icon="save" OnClick="ResetDNSAsync">Reset DNS</TelerikGridCommandButton>
        </TelerikGridCommandColumn>
    </TelerikGridColumns>
</TelerikGrid>