@page "/Blacklists"
@using Syncfusion.EJ2.Blazor.Grids
@using Syncfusion.EJ2.Blazor.Buttons
@using Texnomic.SecureDNS.Data.Models
@inherits BlacklistsBase

<h1>Blacklists</h1>

<button class="btn btn-primary" @onclick="@InitializeAsync">Initialize</button>

<p>@Output</p>

<div>
    <EjsButton OnClick="PdfExport" Content="Pdf Export"></EjsButton>
    <EjsButton OnClick="ExcelExport" Content="Excel Export"></EjsButton>
</div>

<div>
    <EjsGrid ID="BlacklistGrid" @ref="@DefaultGrid" DataSource="@DatabaseContext.Blacklists.AsQueryable()" EnablePersistence="false" AllowResizing="true" AllowPaging="true" AllowSorting="true" AllowFiltering="true" AllowGrouping="true" AllowExcelExport="true" AllowPdfExport="true" ShowColumnMenu="true" ColumnMenuItems="@MenuItems" Toolbar="@Toolbar">
        <GridPageSettings PageSize="25"></GridPageSettings>
        <GridSelectionSettings Type="SelectionType.Multiple"></GridSelectionSettings>
        <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="EditMode.Normal"></GridEditSettings>
        <GridColumns>
            <GridColumn Field="@nameof(Blacklist.ID)" IsPrimaryKey="true" IsIdentity="true" HeaderText="ID" TextAlign="TextAlign.Center"></GridColumn>
            <GridColumn Field="Domain.Name" HeaderText="Domain" TextAlign="TextAlign.Left"></GridColumn>
            <GridColumn Field="@nameof(Blacklist.Timestamp)" HeaderText="Time Stamp" Format="yMd" Type="ColumnType.Date" TextAlign="TextAlign.Left"></GridColumn>
        </GridColumns>
    </EjsGrid>
</div>

@code
{
    public static readonly string[] MenuItems =
    {
        "SortAscending",
        "SortDescending",
        "Group",
        "Ungroup",
        "AutoFit",
        "AutoFitAll" ,
        "ColumnChooser",
        "Filter"
    };

    public static readonly string[] Toolbar =
    {
        "Search",
        "Print",
        "Add",
        "Edit",
        "Delete",
        "Update",
        "Cancel"
    };
}