@page "/Monitor"
@inherits MonitorBase
@using Texnomic.SecureDNS.Models

<h1>Server Monitor</h1>

<p>This Component Demonstrates Fetching Live Data from DNS Server.</p>

<TelerikGrid Data="@MonitorService.Queries" Pageable=true PageSize=20 Sortable="true" Filterable=true>
    <TelerikGridColumns>
        <TelerikGridColumn Field="@nameof(Query.IPAddress)"></TelerikGridColumn>
        <TelerikGridColumn Field="@nameof(Query.Port)"></TelerikGridColumn>
        <TelerikGridColumn Field="@nameof(Query.Domain)"></TelerikGridColumn>
        <TelerikGridColumn Field="@nameof(Query.Resolve)"></TelerikGridColumn>
    </TelerikGridColumns>
</TelerikGrid>
