@page "/Monitor"
@inherits MonitorBase

<h1>Server Monitor</h1>

<p>This Component Demonstrates Fetching Live Data from DNS Server.</p>

<div>
    <EjsButton OnClick="PdfExport" Content="Pdf Export"></EjsButton>
    <EjsButton OnClick="ExcelExport" Content="Excel Export"></EjsButton>
</div>

<div>
    <EjsGrid ID="MonitorGrid" @ref="@MonitorGrid" @ref:suppressField DataSource="@MonitorService.Queries" EnablePersistence="false" AllowResizing="true" AllowPaging="true" AllowSorting="true" AllowFiltering="true" AllowGrouping="true" AllowExcelExport="true" AllowPdfExport="true" ShowColumnMenu="true" ColumnMenuItems="@MenuItems" Toolbar="@Toolbar">
        <GridPageSettings PageSize="25"></GridPageSettings>
        <GridSelectionSettings Type="SelectionType.Multiple"></GridSelectionSettings>
        <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="EditMode.Normal"></GridEditSettings>
        <GridColumns>
            <GridColumn Field="@nameof(Query.IPAddress)" HeaderText="IP Address" TextAlign="TextAlign.Center"></GridColumn>
            <GridColumn Field="@nameof(Query.Port)" HeaderText="Port" TextAlign="TextAlign.Center"></GridColumn>
            <GridColumn Field="@nameof(Query.Domain)" HeaderText="Domain" TextAlign="TextAlign.Center"></GridColumn>
            <GridColumn Field="@nameof(Query.Resolve)" HeaderText="Resolve" TextAlign="TextAlign.Center"></GridColumn>
        </GridColumns>
    </EjsGrid>
</div>

@code
{
    protected EjsGrid<Query> MonitorGrid;

    public static readonly string[] MenuItems =
    {
                     "SortAscending",
                     "SortDescending",
                     "Group",
                     "Ungroup",
                     "AutoFit",
                     "AutoFitAll",
                     "ColumnChooser",
                     "Filter"
                 };

    public static readonly string[] Toolbar =
    {
                     "Search",
                     "Print",
                     "Add",
                     "Edit",
                     "Delete",
                     "Update",
                     "Cancel"
    };

    public void ExcelExport()
    {
        MonitorGrid.ExcelExport();
    }

    public void PdfExport()
    {
        MonitorGrid.PdfExport();
    }

}